<a href="https://colab.research.google.com/github/Nikita018/Leetcode-Problems/blob/master/Data%20Problem/Weekly_Agreegations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Given a list of timestamps in sequential order, return a list of lists grouped by week (7 days) using the first timestamp as the starting point.

# Example:

# ts = [
#     '2019-01-01', 
#     '2019-01-02',
#     '2019-01-08', 
#     '2019-02-01', 
#     '2019-02-02',
#     '2019-02-05',
# ]

# output = [
#     ['2019-01-01', '2019-01-02'], 
#     ['2019-01-08'], 
#     ['2019-02-01', '2019-02-02'],
#     ['2019-02-05'],
# ]

In [8]:
import pandas as pd

In [1]:
ts = [
    '2019-01-01', 
    '2019-01-02',
    '2019-01-08', 
    '2019-02-01', 
    '2019-02-02',
    '2019-02-05',
]

In [5]:
import datetime

x = datetime.datetime.now()
print(x)

2020-08-01 02:47:44.364396

In [3]:
output = []
i = 1
for item in ts:
  if(i==1):
    items = [item]
  else:

['2019-01-01',
 '2019-01-02',
 '2019-01-08',
 '2019-02-01',
 '2019-02-02',
 '2019-02-05']

In [19]:
ts = pd.DataFrame(ts, columns = ['date'])
ts['week'] = pd.to_datetime(ts.date).dt.week
print(ts)
output=ts.groupby('week')['date'].apply(list).tolist()

         date  week
0  2019-01-01     1
1  2019-01-02     1
2  2019-01-08     2
3  2019-02-01     5
4  2019-02-02     5
5  2019-02-05     6

In [14]:
output

[['2019-01-01', '2019-01-02'],
 ['2019-01-08'],
 ['2019-02-01', '2019-02-02'],
 ['2019-02-05']]